<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success justify-content-between">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/urls/">My URLs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/urls/new">Create New URL</a>
        </li>
      </ul>
      <% if(typeof user_id ==='undefined' || typeof users[user_id] === 'undefined' ){ %>
      <form class="form-inline my-2 my-lg-0" style="margin: 1em;" action="/login" method="GET">
        <button class="btn btn-primary my-2 my-sm-0" " type="submit">Log in</button>
      </form>
      <form class="form-inline my-2 my-lg-0" action="/register" method="GET">
        <button class="btn my-2 my-sm-0" style="background-color: #ffc107; color: #fff;" type="submit">Register</button>
      </form>
      <% }else{ %>
      <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
        <a style="margin: 1em; color: #fff;"><b>Logged in as: <%= users[user_id].email %><b></b></a> <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
      </form>
      <% } %>
    </div>
  </nav>
</header>